<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post.user.profile_image, :profile_image,:fill, 100, 100, format:'jpeg', fallback:"" %>
  <%= post.user.name %>d
  <%= attachment_image_tag post, :image %>
  <p><%= post.body %></p>
</div>
<% end %>